.heading {
  text-align: center;
  font-family: "Inconsolata", monospace;
  font-weight: 800;
  font-size: xxx-large;
  margin-left: 15%;
  margin-right: 15%;
}

.weather {
  display: flex;
  padding: 0;
  justify-content: space-evenly;
}
